<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>131614185326-kno12rvk8gvrin3bf3pc0s2u435hecqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131614185326-kno12rvk8gvrin3bf3pc0s2u435hecqs</string>
	<key>API_KEY</key>
	<string>AIzaSyAs-nBnX5wTLNIJG_J5YQQ-QGe4b8nMR2E</string>
	<key>GCM_SENDER_ID</key>
	<string>131614185326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mt.com.tvm</string>
	<key>PROJECT_ID</key>
	<string>firebase-tvm</string>
	<key>STORAGE_BUCKET</key>
	<string>firebase-tvm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131614185326:ios:74e2c7a23427ba3a</string>
	<key>DATABASE_URL</key>
	<string>https://tvm.firebaseio.com</string>
</dict>
</plist>